<!--
header.ejs
Kirandeep Sahmbi
301232670
June 4 2022
 -->
 
<!-- Header -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Kiran Sahmbi</title>
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

  </head>

  <body>